<mat-toolbar class="custom-toolbar">
  <span class="col-md-6">
    <span routerLink="/home" class="site-name">Sales Management</span>
  </span>
  <span style="flex: auto"></span>

  <button mat-button routerLink="/home" class="nav-button">Accueil</button>
  <!-- Bouton "Accueil" -->
  <button mat-button routerLink="/clients" class="nav-button">Clients</button>

  <!-- Bouton "Genres" -->
  <button mat-button routerLink="/produits" class="nav-button">Produits</button>

  <button mat-button routerLink="/ventes" class="nav-button">Ventes</button>

  <button mat-button routerLink="/register" class="nav-button">Ajouter un Admin</button>

  <!-- Afficher l'icône du profil si l'utilisateur est authentifié -->
  <ng-container *ngIf="isAuthenticated(); else loginButton">



   <mat-icon (click)="logout()">logout</mat-icon>

  </ng-container>

  <!-- Template pour le bouton "s'identifier" -->
  <ng-template #loginButton>
    <button mat-button (click)="identifier()" class="nav-button">S'identifier</button>
  </ng-template>
</mat-toolbar>
