<app-navbar></app-navbar>
<div class="client-list-card">
  <h1>Liste des Ventes</h1>
  <button class="btn" style="background-color: #3f4b91; color:white" routerLink="/ventes-add">Ajouter une vente</button>

  <table class="client-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Client</th>
      <th>Produit</th>
      <th>Date</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>prix total</th>
      <th>facturée</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vente of ventes">
      <td>{{ vente.id }}</td>
      <td>{{ vente.client.nom}} {{vente.client.prenom}}</td>
      <td>{{ vente.produit.id}}</td>
      <td>{{ vente.date }}</td>
      <td>{{ vente.quantite }}</td>
      <td>{{ vente.produit.prix }}</td>
      <td>{{ vente.quantite*vente.produit.prix }}</td>
      <td>{{ vente.isInvoiced ? 'Facturée' : 'Non facturée' }}</td>
      <td>
        <button (click)="editVente(vente.id)" class="btn btn-success me-2">
          <i class="bi bi-pen"></i>
        </button>

        <button (click)="deleteVente(vente.id)" class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>


