<app-navbar></app-navbar>
<div class="client-list-card">
  <h2>Liste des Produits</h2>
  <button class="btn btn-primary" routerLink="/add-produit">Ajouter un produit</button>

  <table class="client-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Marque</th>
      <th>Prix</th>
      <th>Quantité en stock</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produit of produits">
      <td>{{ produit.id }}</td>
      <td>{{ produit.nom}}</td>
      <td>{{ produit.marque }}</td>
      <td>{{ produit.prix}}</td>
      <td>{{ produit.qteStock}}</td>
      <td>
        <button (click)="editProduit(produit.id)" class="btn btn-success me-2">
          <i class="bi bi-pen"></i>
        </button>

        <button (click)="deleteProduit(produit.id)" class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>



